# Python
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/
*.log

# Virtual Environment
venv/
env/

# Django
# *.sqlite3
media/
staticfiles/

# Environment variables
.env

# IDE / OS files
.vscode/
.idea/
.DS_Store
Thumbs.db
